p{
	color:green ;
}





.POOP {
	color: brown;
}




.pink-backround {
	background-color: #0F0F0F;
}




.HALLÅ {
	font-size: 100px;
	color: brown; 
	font-family: fantasy;
}





.white {
	color: white;
	margin-left: 300px
}

.Hej {
	margin-left:  250px

}

.Hej:hover {
	color: black;
}

.welcome {
	margin-right: 
}